# Dependency directories
node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Generated receipts
public/receipts/
public/kwik-e-mart/receipts/

# Uploaded product images
public/products/
public/kwik-e-mart/products/

